@page "/accounts/list"

@using System.Text.Json
@using System.Text.Json.Serialization
@inject HttpClient Http
@inject NavigationManager NavManager

@if (!isUserValid)
{
    NavManager.NavigateTo("/login");
}

<h3>account list</h3>


@code
{
    bool isUserValid = false;
}
